Ini merupakan data dari spesifikasi rumah dan harga nya. data ini dapat digunakan untuk men-estimasi harga rumah.

In [14]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

df = pd.read_csv('https://raw.githubusercontent.com/adwira/Cleaning-Data/main/DATA_RUMAH_MODIFIED.csv')
df.head()

,NO,NAMA RUMAH,HARGA,LB,LT,KT,KM,GRS
0,1,"Rumah Murah Hook Tebet Timur, Tebet, Jakarta S...",3800000000,220.0,220.0,3,3,bisa memuat 0 mobil
1,2,"Rumah Modern di Tebet dekat Stasiun, Tebet, Ja...",4600000000,180.0,137.0,4,3,bisa memuat 2 mobil
2,3,"Rumah Mewah 2 Lantai Hanya 3 Menit Ke Tebet, T...",3000000000,267.0,250.0,4,4,bisa memuat 4 mobil
3,4,"Rumah Baru Tebet, Tebet, Jakarta Selatan",430000000,40.0,25.0,2,2,bisa memuat 0 mobil
4,5,"Rumah Bagus Tebet komp Gudang Peluru lt 350m, ...",9000000000,400.0,355.0,6,5,bisa memuat 3 mobil

Requirement already satisfied: scikit-learn in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (2.1.0)
Requirement already satisfied: scipy>=1.6.0 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.15.2)
Requirement already satisfied: joblib>=1.2.0 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (3.6.0)
Note: you may need to restart the kernel to use updated packages.

Data ini sebelum dilakukan cleaning terdiri dari 8 kolom dan 1010 baris.

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1010 entries, 0 to 1009
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   NO          1010 non-null   int64
 1   NAMA RUMAH  1010 non-null   object
 2   HARGA       1010 non-null   int64
 3   LB          985 non-null    float64
 4   LT          975 non-null    float64
 5   KT          1010 non-null   int64
 6   KM          1010 non-null   int64
 7   GRS         1010 non-null   object
dtypes: float64(2), int64(4), object(2)
memory usage: 63.3+ KB

Pertama dalam proses cleaning data ini adalah menghapus kolom data yang tak terlalu penting, seperti NO dan NAMA RUMAH. Alasannya karena kedua kolom data ini tidak akan digunakan dan tidak penting dalam analisis.

In [4]:
cols = ['NO','NAMA RUMAH']
df = df.drop(cols, axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1010 entries, 0 to 1009
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   HARGA   1010 non-null   int64
 1   LB      985 non-null    float64
 2   LT      975 non-null    float64
 3   KT      1010 non-null   int64
 4   KM      1010 non-null   int64
 5   GRS     1010 non-null   object
dtypes: float64(2), int64(3), object(1)
memory usage: 47.5+ KB

Kemudian dilakukan penghapusan setiap baris yang tidak terdapat nilai atau berisi null.

In [5]:
df.dropna(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 951 entries, 0 to 1009
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   HARGA   951 non-null    int64
 1   LB      951 non-null    float64
 2   LT      951 non-null    float64
 3   KT      951 non-null    int64
 4   KM      951 non-null    int64
 5   GRS     951 non-null    object
dtypes: float64(2), int64(3), object(1)
memory usage: 52.0+ KB

Kemudian dilakukan label-encoding pada kolom GRS, agar kolom tersebut hanya berisi bilangan numerik dan bisa di analisis.

In [6]:

label_encoder = LabelEncoder()
df["GRS"] = label_encoder.fit_transform(df["GRS"])
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 951 entries, 0 to 1009
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   HARGA   951 non-null    int64
 1   LB      951 non-null    float64
 2   LT      951 non-null    float64
 3   KT      951 non-null    int64
 4   KM      951 non-null    int64
 5   GRS     951 non-null    int64
dtypes: float64(2), int64(4)
memory usage: 52.0 KB